@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* animating the refresh logo in the navbar */

@keyframes circleFill {
  0% {
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
  }
  100% {
    stroke-dasharray: 283;
    stroke-dashoffset: 0;
  }
}

.animate-outline-circle {
  animation: circleFill 30s linear infinite;
  stroke: #9333EA;
}